.carouselContainer {
    position: relative;
    top: 100px;
    height: 400px;
    margin: 0 1.5%;
    width: 97%;
    display: flex;
    gap: 30px;
}

.carouselSlider-container { 
    border-radius: 15px;
    scroll-behavior: smooth;
}

.carouselImage-container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    scroll-behavior: smooth;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.gradient-overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(54deg, rgba(0,0,0,0.7831465349811799) 0%, rgba(255,255,255,0) 100%); 
    z-index: 1;
}

.carouselInfo-container {
    top: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    height: 90%;
    width: 50%;
    padding: 50px;
    z-index: 2;
    scroll-behavior: smooth;
}

.carouselInfo-container h1 {
    font-size: 30px;
}

.misc-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--background);
    padding: 10px 20px;
    width: max-content;
    border-radius: 30px;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons-group button {
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background-color: var(--background);
}

button:hover {
    background-color: var(--secondary);
}