.anime-details-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    margin-top: 100px;
    gap: 10px;
    padding-bottom: 200px;
}

.anime-cover-container {
    height: 250px;
    width: 100%;
}

.anime-details-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.anime-details-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #111;
    border-radius: 5px;
    padding: 5px;
}

.anime-details-info .anime-details-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.anime-details-row button {
    padding: 12px;
    background-color: #222;
    border-radius: 5px;
    border: none;
}

.anime-details-row button:hover {
    background-color: indigo;
}

.anime-details-row img {
    height: 250px;
    width:  180px;
    object-fit: cover;
    border-radius: 20px;
}

.anime-details-description {
    background-color: rgb(0,0,0,0.5);
    color: grey;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
}

.anime-details-fullInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2.5% 0;
}

.anime-details-fullInfo p {
    color: grey;
}

.anime-details-fullInfo span {
    margin-left: 5px;
    font-weight: 600;
    color: white;
}

.full-info-row {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.full-info-genre {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.full-info-genre span {
    padding: 5px 10px;
    border-radius: 12px;
}