@import "@vidstack/react/player/styles/default/theme.css";
@import "@vidstack/react/player/styles/default/layouts/audio.css";
@import "@vidstack/react/player/styles/default/layouts/video.css";

.streaming-body {
  margin-top: 90px;
  width: 100%;
  height: 700px;
  padding: 0 20px;
}

.streaming-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 595px;
  border-radius: 5px;
}

.video-player-container {
  width: 72%;
  height: 100%;
  border-radius: 10px;
}

.player {
  --brand-color: #8080cf;
  --focus-color: #4e9cf6;

  --audio-brand: var(--brand-color);
  --audio-focus-ring-color: var(--focus-color);
  --audio-border-radius: var(--global-border-radius);

  --video-brand: var(--brand-color);
  --video-focus-ring-color: var(--focus-color);
  --video-border-radius: var(--global-border-radius);
  --video-border: none;
  --video-sm-play-button-bg: #8080cf;
  --media-menu-border-radius: 10px;

  /* 👉 https://vidstack.io/docs/player/components/layouts/default#css-variables for more. */
}

.player[data-view-type="audio"] .vds-poster {
  display: none;
  border-radius: 5rem;
}

.player[data-view-type="video"] {
  aspect-ratio: 16/9;
}

.vds-poster {
  object-fit: cover;
}

.streaming-episodes {
  display: flex;
  flex-direction: column;
  background-color: var(--global-secondary-bg);
  gap: 10px;
  width: 27%;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.streaming-episodes-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.streaming-episodes-header select {
  background-color: var(--global-tertiary-bg);
  padding: 5px 10px;
  border-radius: 5px;
  width: 35%;
}

.streaming-episodes-header input {
  width: 100%;
  padding-left: 40px;
  background-color: var(--global-tertiary-bg);
  color: var(--global-text);
}

.streaming-input-box {
  display: flex;
  width: 65%;
  position: relative;
  align-items: center;
}

.streaming-input-box .search-icon {
  position: absolute;
  left: 10px;
}

.episode {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--global-tertiary-bg);
  filter: brightness(0.8);
  border-radius: 5px;
  gap: 10px;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
}

.episode img {
  height: 100px;
  width: 45%;
  object-fit: cover;
  border-radius: 5px;
}

.episode:hover {
  filter: brightness(1.2);
  cursor: pointer;
  background-color: var(--primary-accent);
  transform: scale(1.05);
}

.episode-active {
  background-color: var(--primary-accent-bg);
  color: white;
  filter: brightness(1.2);
}

.episode .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  gap: 5px;
  width: 60%;
}

.textContainer span {
  font-weight: 600;
}

.textContainer p {
  font-size: 0.8rem;
  font-style: italic;
}

.episode-tag {
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: var(--global-div-tr);
  font-size: 14px;
  font-weight: 600;
}

.streaming-anime-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  margin-top: 40px;
  gap: 2%;
  padding-bottom: 100px;
}

.streaming-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;
}

.streaming-details-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: var(--global-secondary-bg);
}

.streaming-details-row button {
  padding: 12px;
  background-color: var(--global-tertiary-bg);
  border-radius: 5px;
  border: none;
  font-weight: 700;
  color: var(--text-50);
}

.streaming-details-row button:hover {
  background-color: var(--primary-accent);
}

.streaming-details-row img {
  height: 250px;
  width: 180px;
  object-fit: cover;
  border-radius: 20px;
}

.anime-details-fullInfo p {
  color: grey;
}

.streaming-details-container h2 {
  font-size: 30px;
}
.streaming-details-container p {
  font-size: 14px;
}

.anime-details-fullInfo span {
  margin-left: 5px;
  font-weight: 600;
}

.full-info-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
}

.full-info-genre {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.full-info-genre span {
  padding: 5px 10px;
  border-radius: 12px;
  background-color: var(--global-tertiary-bg);
}

.streaming-related-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 470px;
  overflow: scroll;
  scrollbar-width: none;
  gap: 5px;
  padding: 15px;
  background-color: var(--global-secondary-bg);
  border-radius: 5px;
}

.streaming-related-section img {
  height: 120px;
  width: 25%;
  object-fit: cover;
  border-radius: 12px;
}

.related-anime {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--global-tertiary-bg);
  margin-top: 10px;
  color: var(--text);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
}

.related-anime:hover {
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #8080cf;
}

.related-anime:active {
  transform: scale(0.9);
}

.related-anime-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.related-anime-details p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.related-anime-details span {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 12px;
  border-radius: 5px;
  background-color: var(--global-div);
}

a {
  text-decoration: none;
  color: var(--text-50);
}

.streaming-anime-seasons {
  display: flex;
  width: 100%;
  height: 430px;
  flex-direction: column;
  padding: 20px;
  background-color: var(--global-secondary-bg);
}

.season-card-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: var(--global-secondary-bg);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
}

.current-episode-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.current-episode-container .episodes-row {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--global-secondary-bg);
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.episodes-row .sub,
.episodes-row .dub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.servers {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.sub .server,
.dub .server {
  padding: 5px 15px;
  background-color: var(--global-tertiary-bg);
  border-radius: 5px;
  /* background-color:  #8080cf; */
}

.server-active {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--primary-accent-bg);
  color: white;
}

.episodes-row:first-child {
  width: 58%;
  padding: 20px;
}

.episodes-row:last-child {
  width: 40%;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.sub .label {
  transform: translateX(-2.5px);
}

.episode:active {
  transform: scale(0.9);
}

.left-streaming-row {
  display: flex;
  flex-direction: column;
  width: 72%;
  gap: 20px;
}

.right-streaming-row {
  display: flex;
  flex-direction: column;
  width: 27%;
}

.server:hover {
  background-color: var(--primary-accent);
}

@media screen and (max-width: 900px) {
  .streaming-body {
    padding: 2.5%;
  }
  .streaming-anime-details {
    flex-direction: column;
    gap: 20px;
  }
  .streaming-section {
    flex-direction: column;
  }
  .video-player-container {
    width: 100%;
  }
  .streaming-episodes {
    margin-top: 10px;
    width: 100%;
    min-height: 350px;
  }
  .episodes-select-box {
    width: 45%;
  }
  .streaming-input-box {
    width: 55%;
  }
  .streaming-details-container {
    width: 100%;
    height: min-content;
  }
  .streaming-details-container h2 {
    font-size: 16px;
  }
  .streaming-details-container p {
    font-size: 10px;
  }
  .streaming-details-row img {
    width: 120px;
    height: 170px;
  }
  .streaming-details-row button {
    font-size: 12px;
    padding: 10px 5px;
  }
  .streaming-related-section {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .streaming-anime-seasons {
    width: 100%;
    height: auto;
    gap: 10px;
  }
  .streaming-anime-seasons h2 {
    margin-left: 5px;
  }
  .season-card-container {
    height: auto;
    width: fit-content;
    flex-direction: column;
    gap: 20px;
  }
  .streaming-details-row {
    padding: 10px;
  }
  .second-row {
    width: 65%;
    justify-content: space-between;
  }
  .left-streaming-row {
    width: 100%;
  }
  .right-streaming-row {
    width: 100%;
  }
  .current-episode-container {
    height: auto;
    flex-direction: column;
    gap: 10px;
  }
  .current-episode-container .episodes-row {
    width: 100%;
  }
}
