.anime-table {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  gap: 20px;
  padding: 10px;
}

.rows {
  flex: 1 1 25%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--global-secondary-bg);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
}

.anime-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--global-tertiary-bg);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.anime-item img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.anime-info {
  flex: 1;
  margin-left: 10px;
}


.row-title {
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .anime-table {
    flex-direction: column;
  }

  .rows {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
