.anime-table {
  display: flex;
  justify-content: space-evenly;
  border-radius: 12px;
  padding: 0 10px;
  gap: 20px;
}

.rows {
  flex: 1 1 25%;
  padding: 20px;
  background-color: var(--background-800);
  border-radius: 10px;
}

.anime-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-700);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.anime-item img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.anime-info {
  flex: 1;
  margin-left: 10px;
}

.anime-info .row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row-title {
  margin-bottom: 20px;
}

.anime-info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
}

.anime-item p {
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .anime-table {
    flex-direction: column;
  }

  .rows {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
