.carouselContainer {
    position: relative;
    top: 100px;
    height: 400px;
    margin: 0 1.5%;
    width: 97%;
    display: flex;
    gap: 30px;
    color: white;
}

.carouselSlider-container { 
    border-radius: 15px;
    scroll-behavior: smooth;
}

.carouselImage-container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    scroll-behavior: smooth;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.gradient-overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(40deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%); 
    z-index: 1;
}

.carouselInfo-container {
    top: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    height: 90%;
    width: 50%;
    padding: 40px;
    z-index: 2;
    scroll-behavior: smooth;
}

.carouselInfo-container h1 {
    font-size: 25px;
}


.misc-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px;
    width: max-content;
    border-radius: 30px;
    background-color: var(--transparent);
    color: var(--text-50);
}

.buttons-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons-group button {
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background-color: var(--transparent);
    color: var(--text-50);
}

button:hover {
    background-color: var(--secondary-900);
}

@media (max-width: 768px) {

    .carouselContainer {
        height: 256px;
    }

    .carouselInfo-container {
        align-items: left;
        padding: 10px;
        padding-bottom: 40px;
        justify-content: flex-end;
        width: 100%;
    }

    .description-container {
        display: none;
    }

    .carouselContainer h1 {
        font-size: 18px;
        margin-left: 4px;
        min-width: 40%;
        max-width: 60%;
    }
    .misc-info {
        gap: 10px;
    }
    .misc-info p {
        font-size: 10px;
    }
    .buttons-group button {
        font-size: 14px;
        padding: 10px 15px;
    }
}