* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  box-sizing: border-box;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  background-size: 30px 30px;
  padding: 20px 5%;
  top: 0;
  width: 100vw;
  height: 80px;
  color: var(--text-50);
  z-index: 10;
}

.header span {
  color: var(--accent-400);
  font-size: 40px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.nav-item:hover,
.login-button:hover,
.action-button:hover {
  background-color: var(--accent-900);
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  color: white;
}

.inputBox-mobile {
  display: none;
}

.inputBox-mobile-active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--accent-800);
  padding: 20px 5%;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

input {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 1em;
  outline: none;
}

.input {
  width: 100%;
}

.input-active {
  padding-left: 50px;
}

.searchIcon {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.search-active {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  left: 15px;
}

.closeIcon {
  display: none;
}

.closeIcon-active {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.closeIcon-mobile,
.searchIcon-mobile {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.action-buttons {
  display: flex;
  gap: 20px;
  color: var(--text-50);
}

.action-buttons button {
  color: white;
}

.action-button {
  background-color: var(--accent-600);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.login-button {
  background-color: var(--accent-600);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.searchToggle-mobile {
  display: none;
}

.search-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 15px;
  height: 0px;
  top: 100%;
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--background-800);
}

.search-items-active {
  padding: 20px;
  height: auto;
  max-height: 400px;
}

.search-items-mobile {
  display: none;
}

@media (max-width: 768px) {
  .searchToggle-mobile {
    display: block;
  }
  .nav-links,
  .login-button {
    display: none;
  }
  .inputBox {
    display: none;
  }
  .inputBox-mobile {
    display: none;
  }
  .inputBox-mobile-active {
    display: flex;
    transform: translateY(95%);
    transition: transform 0.3s ease;
  }
  .input-mobile {    
    padding-left: 40px;
  }
  .closeIcon-mobile {
    position: absolute;
    right: 10%;
  }
  .searchIcon-mobile {
    position: absolute;
    left: 30px;
  }
  .searchIcon {
    position: absolute;
  }
  .search-items-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    top: 100%;
    position: absolute;
    height: auto;
    max-height: 400px;
    left: 20px;
    right: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--background-800);
  }
}
