.reusable-carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 10px;
}

.reusable-carousel-item:hover {
    transform: scale(1.1);
}

.reusable-carousel-item:active {
    transform: scale(0.8);
}

.carousel-heading {
    color: var(--text-50);
}

.reusable-carousel {
    display: flex;
    width: 100%;
}

.reusable-carousel-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.reusable-carousel-image {
    height: 300px;
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 14px;
    pointer-events: none;
}

@media screen and (max-width: 768px) {

    .reusable-carousel-item {
        height: min-content;
    }

    .reusable-carousel-item img {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .reusable-carousel-image {
        height: 400px;
    }
    
}