.character-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--global-tertiary-bg);
    width: 32.5%;
    border-radius: 12px;
    padding: 10px;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
}
 
.character-item img {
    height: 100px;
    width: 67px;
    object-fit: cover;
    border-radius: 10px;
}

.anime-image-hover {
    position: absolute;
    top: -10%;
    left: 22%;
    border-radius: 12px;
    background-color: var(--global-tertiary-bg);
    scale: 0;
}

.anime-image-hover p {
    padding: 10px 15px;
}

.anime-image:hover ~ .anime-image-hover {
    scale: 1;
}

.character-item p {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.character-item span {
    font-style: italic;
    color: grey;
}

@media screen and (max-width: 768px) {    
    .character-item {
        width: 100%;
    }
}