@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme="light"] {
  --text-50: #f1eff5;
  --text-100: #e4e0eb;
  --text-200: #c8c0d8;
  --text-300: #ada1c4;
  --text-400: #9182b0;
  --text-500: #76629d;
  --text-600: #5e4f7d;
  --text-700: #473b5e;
  --text-800: #2f273f;
  --text-900: #18141f;
  --text-950: #0c0a10;

  --background-50: #f2eff6;
  --background-100: #e5deed;
  --background-200: #cabeda;
  --background-300: #b09dc8;
  --background-400: #957cb6;
  --background-500: #7b5ca3;
  --background-600: #624983;
  --background-700: #4a3762;
  --background-800: #312541;
  --background-900: #191221;
  --background-950: #0c0910;

  --primary-50: #f2eef7;
  --primary-100: #e4ddee;
  --primary-200: #c9bbdd;
  --primary-300: #ae98cd;
  --primary-400: #9376bc;
  --primary-500: #7854ab;
  --primary-600: #604389;
  --primary-700: #483267;
  --primary-800: #302244;
  --primary-900: #181122;
  --primary-950: #0c0811;

  --secondary-50: #f1edf7;
  --secondary-100: #e4dcef;
  --secondary-200: #c9b8e0;
  --secondary-300: #ae95d0;
  --secondary-400: #9271c1;
  --secondary-500: #774eb1;
  --secondary-600: #5f3e8e;
  --secondary-700: #482f6a;
  --secondary-800: #301f47;
  --secondary-900: #181023;
  --secondary-950: #0c0812;

  --accent-50: #f1ecf8;
  --accent-100: #e4daf1;
  --accent-200: #c8b5e3;
  --accent-300: #ad8fd6;
  --accent-400: #916ac8;
  --accent-500: #7645ba;
  --accent-600: #5e3795;
  --accent-700: #472970;
  --accent-800: #2f1c4a;
  --accent-900: #180e25;
  --accent-950: #0c0713;
}
body[data-theme="dark"] {
  --text-50: #0c0a10;
  --text-100: #18141f;
  --text-200: #2f273f;
  --text-300: #473b5e;
  --text-400: #5e4f7d;
  --text-500: #76629d;
  --text-600: #9182b0;
  --text-700: #ada1c4;
  --text-800: #c8c0d8;
  --text-900: #e4e0eb;
  --text-950: #f1eff5;

  --background-50: #0c0910;
  --background-100: #191221;
  --background-200: #312541;
  --background-300: #4a3762;
  --background-400: #624983;
  --background-500: #7b5ca3;
  --background-600: #957cb6;
  --background-700: #b09dc8;
  --background-800: #cabeda;
  --background-900: #e5deed;
  --background-950: #f2eff6;

  --primary-50: #0c0811;
  --primary-100: #181122;
  --primary-200: #302244;
  --primary-300: #483267;
  --primary-400: #604389;
  --primary-500: #7854ab;
  --primary-600: #9376bc;
  --primary-700: #ae98cd;
  --primary-800: #c9bbdd;
  --primary-900: #e4ddee;
  --primary-950: #f2eef7;

  --secondary-50: #0c0812;
  --secondary-100: #181023;
  --secondary-200: #301f47;
  --secondary-300: #482f6a;
  --secondary-400: #5f3e8e;
  --secondary-500: #774eb1;
  --secondary-600: #9271c1;
  --secondary-700: #ae95d0;
  --secondary-800: #c9b8e0;
  --secondary-900: #e4dcef;
  --secondary-950: #f1edf7;

  --accent-50: #0c0713;
  --accent-100: #180e25;
  --accent-200: #2f1c4a;
  --accent-300: #472970;
  --accent-400: #5e3795;
  --accent-500: #7645ba;
  --accent-600: #916ac8;
  --accent-700: #ad8fd6;
  --accent-800: #c8b5e3;
  --accent-900: #e4daf1;
  --accent-950: #f1ecf8;
}

body {
  background-color: var(--background-900);
  color: var(--text-50);
  font-family: "Poppins";
}

input,
button,
ul,
li,
div,
h1,
h2,
h3,
h4,
p,
section,
span {
  font-family: "Poppins";
}

select,
.input {
  color: var(--text-50);
}
